<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="ex"></div>
<div id="test">asndioasnol</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/react.js"></script>-->
<!--<script src="js/react-dom.js"></script>-->
<!--<script src="js/JSXTransformer.js"></script>-->
<script src="build/Main.js" ></script>
<!--<script src="build/ListMenu.js" ></script>-->
</body>
</html>