<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>魔都的面</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="author" content=""/>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/buttons.css" rel="stylesheet"/>
    <link href="css/flat.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/iconfont.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <style>
        .btn-trans{
            border: 1px solid #4db6ac;
            background-color: white;
            color: #4db6ac;
        }
    </style>
</head>
<body>
<div id="wrapper" class="viewer">
    <header id="header"  style="text-align: center;background-color: rgba(0,0,0,.7);margin-left: -90px;margin-bottom: 0;padding: 10px;margin-top: 0">
        <!--<div class=" col-xs-2"><a href="#" id="addOrder"><i class="glyphicon glyphicon-arrow-left" style="color: white"></i></a></div>-->
        <div class="col-xs-12" ><i class="icon iconfont icon-cook"></i> 魔都的面</div>
        <div style="clear: both;"></div>
    </header>
    <div id="sidebar-wrapper">
        <div class="well sidebar-nav" style="border: 0;">
            <nav id="J_menuList" class="nav nav-list">
            </nav>
        </div>
    </div>
    <div id="page-content-wrapper" class="">
        <div class="page-content">
            <div class="container" id="J_list_Container">
            </div>
        </div>
    </div>
    <!--<footer class="footFix footLeft" >-->
    <footer>
        <button id="myInfo" class="btn_change "
                style="position: fixed;left: 15px;z-index: 1002;background-color: rgba(0,0,0,.5);color: white;">
            <div><i class="fa fa-user"></i></div>
            <a href="/order" style="color: white;">订单</a>
            <!--span class="num">9</span-->
        </button>
        <button id="myOrder" class="btn_change ">
            <div><i class="fa fa-shopping-cart"></i></div>
            <span id="myOrder2">购物车</span>
            <!--span class="num">9</span-->
        </button>
    </footer>
</div>
<div id="wrapper2" class="viewer wrapper countpage clearfix" style="display:none">
    <header id="header">
        <div class=" col-xs-2" id="addOrder" style="padding-left: 30px"><i class="glyphicon glyphicon-arrow-left" style="color: white"></i></div>
        <div class="col-xs-8" style="text-align: center">购物车</div>
        <div style="clear: both;"></div>
    </header>
    <section class="order_title">
        <div class="container" id="">
            <div class="col-md-12 clearfix foot_orderList">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="notice">
                            <button id="clearOder" class="btn btn-trans" style="margin-bottom: 10px">清空购物车</button>
                        </p>
                    </div>
                    <div class="col-xs-6" style="margin-top: 5px">
                        <p class="notice tar">
                            共计
                            <span class="price" id="price_txt">
                                315元
                            </span>
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="oder_content">
        <div class="container" id="J_order_list">

            <div class="row gray_line ">
                <div class="col-md-12 clearfix board_content"><p style="text-align: center;">
                        <span>亲，还没选到心仪的菜喔，点加菜开始选菜吧！</span></p></div>
            </div>
            <div class="row gray_line col-xs-12 ">
                <label for="coupon" class="col-xs-5" style="font-size: 15px">优惠券</label>
                <span class="twitter-typeahead col-xs-7">
                    <input type="text" name="phone" class="tt-query" autocomplete="off" spellcheck="false" dir="auto" id="coupon">
                </span>
            </div>
        </div>
    </section>
    <section class="oder_submit" >
        <div class="container" style="text-align: center">
            <button class="btn btn-my " id="submitOrder" style="width: 88%">
                付款
            </button>
        </div>
    </section>
</div>
<div id="imgViewer" class="viewer" style="display:none">
    <div class="contain" style="position: absolute;width: 100%;height: 100%">
        <!--<div class="col-md-12 clearfix">-->
        <!--<div class="col-xs-12 foot-info">-->
        <!--<div class="imgViewer_contain">-->
        <div class="img_contain" style="position: absolute;width: 100%;height: 100%;">
            <img src="" class="img-responsive" alt="Responsive image" style="position:absolute;top: 0;bottom:0;left: 0;right: 0;margin: auto;display: block;width: 60%;height: 200px;"/>
        </div>
        <div id="J_imgInfo" class="info_contain clearfix">
            <strong>
                芒果布丁2
            </strong>
                        <span class="colred">
                            888元/粒
                        </span>
            <small>
                月销量:524人
            </small>
        </div>
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div id="loadingView" class="viewer">
    <div class="container">
        <div class="col-md-12 clearfix loading">
        </div>
    </div>

</div><!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="build/Main.js"></script>-->
<script src="js/home.js"></script>
<script>
    $("#myOrder2").click(function () {
//        $.ajax({
//            url:"http://localhost:3000/cart",
//            type:'get',
//            data:{
//                order:JSON.stringify(iG.order),
//            }
//            success: function () {
//                window.location =
//            }
//        })
//        window.location = 'http://localhost:3000/cart?order='+JSON.stringify(iG.order);
    })
</script>
</body>
</html>
