<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>魔都的面</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="author" content=""/>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/buttons.css" rel="stylesheet"/>
    <link href="css/flat.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
</head>
<body>
<div id="wrapper" class="viewer">
    <div id="sidebar-wrapper">
        <div class="well sidebar-nav">
            <nav id="J_menuList" class="nav nav-list">
                <dl>
                    <% for (var i in iG.menu) { %>
                    <dd class=<% active %> data_name=<% iG.menu[i]%>>
                        <a data_name=<% iG.menu[i]%>><span class='badge pull-left'></span> <%= _list[i] %>  </a>
                    </dd>
                    <% } %>
                </dl>
            </nav>
        </div>
    </div>
    <div id="page-content-wrapper" class="">
        <div class="page-content">
            <div class="container" id="J_list_Container">
            </div>
        </div>
    </div>
    <!--<footer class="footFix footLeft" >-->
    <footer>
        <button class="btn_change "
                style="position: fixed;left: 15px;z-index: 1002;background-color: rgba(0,0,0,.5);color: white;">
            下单
            <!--span class="num">9</span-->
        </button>
        <button id="myOrder" class="btn_change " style="position:fixed;right: 15px;background-color: rgba(255,0,0,.7);">
            购物车
            <!--span class="num">9</span-->
        </button>
    </footer>
</div>
<div id="wrapper2" class="viewer wrapper countpage clearfix" style="display:none">
    <section class="order_title">
        <div class="container" id="">
            <div class="col-md-12 clearfix foot_orderList">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="notice">
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p class="notice tar">
                            共计
                            <span class="price" id="price_txt">
                                315元
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oder_content">
        <div class="container" id="J_order_list">
        </div>
    </section>
    <section class="oder_submit">
        <div class="container">
            <button class="btn btn-info  fr mgtbr8" id="submitOrder">
                付款
            </button>
        </div>
    </section>
</div>
<div id="imgViewer" class="viewer" style="display:none">
    <div class="container">
        <div class="col-md-12 clearfix">
            <div class="col-xs-12 foot-info">
                <div class="imgViewer_contain">
                    <div class="img_contain">
                        <img src="" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div id="J_imgInfo" class="info_contain clearfix">
                        <strong>
                            芒果布丁2
                        </strong>
                        <span class="colred">
                            888元/粒
                        </span>
                        <small>
                            月销量:524人
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingView" class="viewer">
    <div class="container">
        <div class="col-md-12 clearfix loading">
        </div>
    </div>

</div><!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            window.scrollTo(0, 1);
        }, 0);
        $.ajax({
            type: 'get',
            url: 'http://localhost:3000/items',
            success: function (data) {
                iG.items = data;
                //console.log(iG.items);
                init();//ajax成功后执行init();
            },
        })
        function  init(){
            setMenu(iG.items);
        }
        function setMenu(_list) {
            iG.menu = [];
            iG.indexMenu = (function () {
                var menu;
                var count = 0;
                for (var i in _list) {
                    if (count === 0) {
                        menu = i;
                    }
                    count++;
                    iG.menu.push(i);
                }
                return menu;
            })();
            buildMenu(iG.menu);
        }
    })
</script>
<!--<script src="build/Main.js"></script>-->
</body>
</html>
