<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的菜单</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="author" content=""/>
    <!-- Le styles -->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <style>
        .item_name {
            font-size: 13px;
        }

        .order_gray_line {
            /*border-top: 3px solid black !important;*/
            border-bottom: 1px solid lightgray !important;
            margin-bottom: 5px;
            /*padding-bottom: 40px !important*/
        }

        .ac_paid {
            float: right;
            margin-right: 50px;
            font-size: 12px;
        }

        .order_state {
            border-bottom: 1px solid lightgray;
        }

        .order_paid {
            border-top: 1px dotted lightgray;
        }

        .menu_title {
            color: #00a9d5;
        }
    </style>
    <script>
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
    </script>
</head>
<body>
<div id="wrapper2" class="viewer wrapper countpage clearfix show" >
    <section class="oder_content">
        <div class="container" id="J_order_list">
            <div class="row" id="J_order_Manager" style="border-bottom: 3px solid #00a1cb">
                <div class="col-xs-12 clearfix board_content">
                    <div class="col-xs-4 title_contain">
                        <p class="menu_title ">我的订单</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-3 title_contain">
                    </div>
                </div>
            </div>
            <% for (var i = 0;i < (arr.length);i++){ %>
            <div class="row order_gray_line ">
                <div class="col-md-12 clearfix board_content order_state">
                    <div class="col-md-6">
                        订单已完成
                        <span style="font-size: 14px;color: darkgray;">
                            <%= arr[i]['date'] %>
                        </span>
                    </div>
                </div>
                <% for (var j = 0;j < arr[i].items.length;j++){ %>
                <div class="col-md-12 clearfix board_content">
                    <div class="col-xs-6">
                        <div class="col-md-6 clearfix item_name"><span>
                                <%= arr[i].items[j]['name'] %>
                            </span></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="btn_wrap counter"><i class="nocounter fl" style="display: inline-block;">
                                <%= arr[i].items[j]['counter'] %>
                            </i></div>
                    </div>
                </div>
                <% } %>
                <div class="col-md-12 clearfix board_content order_paid">
                    <span class="ac_paid">实付:
                        <%= arr[i].price %>
                    </span>
                </div>
            </div>
            <% } %>
        </div>
    </section>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
