<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="author" content=""/>
    <!-- Le styles -->
    <link href="../public/css/bootstrap.css" rel="stylesheet"/>
    <link href="../public/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="count">
        <div class="col-xs-12">
            <i class="fa fa-dollar col-xs-2" ></i>
            <input type="text"  class="col-xs-9" placeholder="请输入充值金额">
        </div>
        <div class="col-xs-12">
            <i class="fa fa-credit-card col-xs-2"></i>
            <input type="text"  class="col-xs-9" placeholder="请输入银行卡号">
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success col-xs-11 col-xs-offset-1">充值</button>
        </div>

    </div>
    <div>

    </div>
</div>
</body>
</html>
