<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/browser.min.js" ></script>
    <script src="js/react.js" ></script>
    <script src="js/react-dom.js" ></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div id="example"></div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" ></script>
<script src="component/ButtonInfo.js" type="text/babel"></script>

</body>
</html>
