<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/browser.min.js" ></script>
    <script src="js/react.js" ></script>
    <script src="js/react-dom.js" ></script>
    <style>
        #ex{
            display: flex;
            width: 400px;
            border: 1px solid red;
            height: 300px;
        }
        .child{
            width: 200px;
            padding: 10px;
            border:1px solid black;
            height: 200px;
        }
    </style>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="  child">test</div>
    <a href=”mailto:chasezsh@gmail.com”>发送邮件</a>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" ></script>
<script src="component/ButtonInfo.js" type="text/babel"></script>

</body>
</html>
